*{
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.banner{
    height: 120px;
}

.banner a{
    background: url("../img/banner.jpg") no-repeat center 0;
    height: 120px;
    display: block;
}

.nav{
    background: #333;
    height: 40px;
    /*overflow: hidden;*/
}

.wrapper{
    width: 1226px;
    margin: 0 auto;

}
.main-nav{
    /*overflow: hidden;*/
}
.main-nav li{
    float:left;
}

.main-nav a{
    color: #b0b0b0;
    font-size: 12px;
    line-height: 40px;
}

.main-nav span{
    color: #424242;
    margin: 0 5px;
}


.user-info{
    float: right;
}
.user-info li{
    float: left;
}
.user-info a{
    color: #b0b0b0;
    font-size: 12px;
    line-height: 40px;
}
.user-info  span{
    color: #424242;
    margin: 0 5px;
}
.main-nav li:hover a{
    color: white;
}
.user-info a:hover{
    color:white;
}
.cart{
    width: 120px;
    position: relative;
}
.cart a{
    text-align: center;
    font-size: 12px;
    width: 100%;
    height: 100%;
    display: block;
}
.cart:hover{
    background: white;

}
.nav .wrapper .user-info .cart a:hover {
    color: #ff6700;
}
.cart:hover i,.cart:hover a{
    color: #ff6700;
}
.cart .cart-content{
    width: 300px;
    height: 0px;
    font-size: 12px;
    text-align: center;
    line-height: 100px;
    background: white;
    position: absolute;
    top: 40px;
    right: 0;
    display: none;
    overflow: hidden;
    box-shadow:0 0 5px 1px rgba(0,0,0,0.1) ;
    z-index: 1;

}
.cart:hover .cart-content{
    display:block;
    animation: show 0.6s ease-in 0.2s forwards;
}
@keyframes show {
    100%{
        height: 100px;
    }
}
.header{
    background: white;
    height: 100px;
    position: relative;
}

.logo{
    margin-top:22px;
    width: 62px;
    float: left;
}

.link-logo{
    display: block;
    width: 55px;
    height: 55px;
    background: url("../img/mi-logo.png") center center no-repeat #ff6700;
}
.main-menu{
    float: left;
    margin-left: 180px;
}
.menu-item{
    float: left;
    padding: 42px 0;

}
.menu-item a{
    font-size: 16px;
    color: #333;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}
.menu-item:hover a{
    color: #ff6700;
}
.sub-menu{
    position: absolute;
    left: 0px;
    top:100px;
    background: red;
    width: 100%;
    display: none;
}
.menu-item:hover .sub-menu{
    display: block;
}
